{{> order-tabs route='closeorder'}}

<h3>已關閉的訂單</h3>
<br>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">訂單名稱</th>
      <th scope="col">餐廳名稱</th>
      <th scope="col">訂單發起人</th>
      <th scope="col">發起人員工編號</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr>
      <td>{{this.ordername}}</td>
      <td>{{this.Restaurant.name}}</td>
      <td>{{this.name}}</td>
      <td>{{this.employeeId}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/orderingrest/{{this.id}}/info">
            詳細資料
          </a>
        </button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>