<div class="col-md-12">
  <h1>{{restaurant.name}}</h1>
  <p>電話:{{restaurant.tel}}</p>
  <p>地址:{{restaurant.address}}</p>
</div>
<br>
<a href='/admin/restaurants/{{restaurant.id}}/edit'>
  <button type="button" class="btn btn-primary">變更餐廳資料</button>
</a>
<form action="/admin/restaurants/{{restaurant.id}}" method="POST" style="display: inline;">
  <button type="submit" class="btn btn-primary"
    onclick="return confirm(`是否要開放 {{ restaurant.name }} 訂餐嗎？`)">開放訂餐</button>
</form>
<a href='/admin/restaurants/{{restaurant.id}}/test'>
  <button type="button" class="btn btn-primary">變更餐廳資料</button>
</a>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">價格</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurant.Meals}}
    <tr>
      <td>{{this.meals}}</td>
      <td>{{this.price}}</td>
      <td>
        <form action="/admin/meals/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.meals }} 嗎？`)">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>