<br>
<h2>
  {{Rest.name}}
</h2>
<br>
<p>
  電話: {{Rest.tel}}
  <br>
  地址: {{Rest.address}}
</p>
<br>
<h5>
  總金額: $ {{totalprice}}
</h5>
<br />
{{#if user.isAdmin}}
{{#if order.isOpen}}
<div class="container">
  <div class="d-flex justify-content-end mb-3 d-flex-gap">
    <form action="/admin/order/{{orderId}}?_method=PATCH" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-secondary" onclick="return confirm(`確定要關閉訂餐嗎？`)">關閉訂餐</button>
    </form>
  </div>
</div>
{{else}}
<div class="container">
  <div class="d-flex justify-content-end mb-3 d-flex-gap">
    <form action="/admin/order/{{orderId}}?_method=PATCH" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-secondary" onclick="return confirm(`確定要關閉訂餐嗎？`)">重新開啟訂餐</button>
    </form>
  </div>
</div>
{{/if}}
{{/if}}
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 12%">餐點</th>
      <th scope="col" style="width: 10%">數量</th>
      <th scope="col" style="width: 10%">單價</th>
      <th scope="col" style="width: 10%">金額</th>
      <th scope="col">訂餐者</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each mealsitem}}
      <th scope="row">{{this.meals}}</th>
      <td>{{this.total_sold}}</td>
      <td>{{this.price}}</td>
      <td>{{#multiply this.total_sold this.price}}{{/multiply}}</td>
      <td>
        {{#each ../mealsitemEachperson}}
        {{#ifCond this.meals ../this.meals}}
        {{#forLoop this.personal_quantity}}
        <button type="button" class="btn btn-secondary" disabled>{{../this.name}}</button>
        {{/forLoop}}
        {{/ifCond}}
        {{/each}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />

<h5>
  額外說明：
</h5>
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 20%">餐點</th>
      <th scope="col" style="width: 80%">說明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each mealsitem}}
      <th scope="row">{{this.meals}}</th>
      <td>
        {{#each ../mealsdescription}}
        {{#ifCond this.meals ../this.meals}}
        {{#if this.description}}
        {{this.name}}: {{this.description}}<br>
        {{/if}}
        {{/ifCond}}
        {{/each}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a class="btn btn-outline-secondary" href="/orderingrest">Back</a>