<h2 class="text-center">{{order.ordername}}</h2>
<h3>
  {{Rest.name}}
</h3>
<br>
<p>訂單發起人: {{order.name}}
  <br>
  發起人員工編號: {{order.employeeId}}
</p>
<p>
  電話: {{Rest.tel}}
  <br>
  地址: {{Rest.address}}
</p>
<br>
<h5>
  總金額: $ {{total}}
</h5>
<br />
{{#if user.isAdmin}}
{{#if order.isOpen}}
<div class="container">
  <div class="d-flex justify-content-end mb-3 d-flex-gap">
    <form action="/admin/closeorder/{{orderId}}?_method=PATCH" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-secondary" onclick="return confirm(`確定要關閉訂餐嗎？`)">關閉訂餐</button>
    </form>
  </div>
</div>
{{else}}
<div class="container">
  <div class="d-flex justify-content-end mb-3 d-flex-gap">
    <form action="/admin/reopenorder/{{orderId}}?_method=PATCH" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-secondary" onclick="return confirm(`確定要關閉訂餐嗎？`)">重新開啟訂餐</button>
    </form>
  </div>
</div>
{{/if}}
{{else}}
{{#ifCond user.employeeId order.employeeId}}
{{#if order.isOpen}}
<div class="container">
  <div class="d-flex justify-content-end mb-3 d-flex-gap">
    <form action="/admin/closeorder/{{orderId}}?_method=PATCH" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-secondary" onclick="return confirm(`確定要關閉訂餐嗎？`)">關閉訂餐</button>
    </form>
  </div>
</div>
{{else}}
<div class="container">
  <div class="d-flex justify-content-end mb-3 d-flex-gap">
    <form action="/admin/reopenorder/{{orderId}}?_method=PATCH" method="POST" style="display: inline;">
      <button type="submit" class="btn btn-secondary" onclick="return confirm(`確定要關閉訂餐嗎？`)">重新開啟訂餐</button>
    </form>
  </div>
</div>
{{/if}}
{{/ifCond}}
{{/if}}

<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 12%">餐點</th>
      <th scope="col" style="width: 10%">數量</th>
      <th scope="col" style="width: 10%">單價</th>
      <th scope="col" style="width: 10%">金額</th>
      <th scope="col">訂餐者</th>
    </tr>
  </thead>
  <tbody>
    {{#each mealsSummary}}
    <tr>
      <th scope="row">{{@key}}</th>
      <td>{{this.quantity}}</td>
      <td>{{this.price}}</td>
      <td>{{this.totalPrice}}</td>
      <td>
        {{#each this.name}}
        <button type="button" class="btn btn-secondary" disabled>{{this}}</button>
        {{/each}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />

<h5>
  額外說明：
</h5>
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 20%">餐點</th>
      <th scope="col" style="width: 80%">說明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each mealsSummary}}
      {{#let @key key="outerKey"}}
      <th scope="row">{{outerKey}}</th>
      <td>
        {{#each ../../mealsdescription}}
        {{#ifCond this.meals ../outerKey}}
        {{#if this.description}}
        {{this.name}}: {{this.description}}<br>
        {{/if}}
        {{/ifCond}}
        {{/each}}
      </td>
    </tr>
    {{/let}}
    {{/each}}
  </tbody>
</table>
{{#if order.isOpen}}
<a class="btn btn-outline-secondary" href="/orderingrest">Back</a>
{{else}}
<a class="btn btn-outline-secondary" href="/closeorder">Back</a>
{{/if}}