<br>
<h2>
  {{personalorder.restaurantName}}
</h2>
<br>
<h5>
  訂購日: {{personalorder.formattedDate}}
</h5>
<h5>
  訂購人: {{personalorder.name}}
</h5>
<h5>
  員工編號: {{personalorder.employeeId}}
</h5>
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 12%">餐點</th>
      <th scope="col" style="width: 10%">單價</th>
      <th scope="col" style="width: 10%">數量</th>
      <th scope="col" style="width: 40%">金額</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each mealorder}}
      <th scope="row">{{this.meals}}</th>
      <td>{{this.price}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.mealtotal}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/user/order/{{this.id}}/edit">
            編輯訂單
          </a>
        </button>
        <form action="/admin/restaurants/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.meals }} 嗎？`)">刪除訂單</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a class="btn btn-outline-secondary" href="/user/orders">Back</a>