<br>
<h3>
  我的訂單
</h3>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 12%">訂單日期</th>
      <th scope="col" style="width: 10%">訂購人</th>
      <th scope="col" style="width: 10%">餐廳名稱</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {{#each porders}}
      <th scope="row">{{this.formattedDate}}</th>
      <td>{{this.name}}</td>
      <td>{{this.restaurantName}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a class="btn btn-link link-primary" href="/user/order/{{this.id}}">
            查看訂單
          </a>
        </button>
        <form action="/user/order/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger"
            onclick="return confirm(`確定要刪除 {{ this.name }} 嗎？`)">刪除訂單</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a class="btn btn-outline-secondary" href="/">Back</a>